.App {
  margin: 0 auto;
  text-align: center;
  width: 100%;

  .players-turn {
    margin: 20px;
  }

  .board-row {
    display: flex;
    justify-content: center;

    .square-block {
      border: 1px solid #ccc;
      width: 80px;
      height: 80px;
    }
  }

  .play-function-button {
    margin-top: 20px;
  }
}